@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  overflow-x: hidden;
}

.dashboard-container {
  // height: 100;
  display: flex;

  .main-content {
    width: 100%;
    margin-left: 280px;
    // margin-left: 50px;
  }
  .main-content.closed-sidebar {
    margin-left: 70px; /* Adjusted margin-left when sidebar is closed */
  }
}
.login {
  .loginbtn {
    background-color: #069af3;
    color: white;
    font-weight: 500;
    font-family: Inter;
    font-size: 16px;
  }
  .googlebtn {
    background-color: transparent;
    color: black;
    font-weight: 500;
    font-family: Inter;
    font-size: 16px;
    border: 1px solid #eef0f3;
  }
  .S9gUrf-YoZ4jf {
    width: 100% !important;
    display: flex;
    justify-content: center !important;
  }
  .forgot-password {
    text-decoration: none;
    color: #069af3;
  }
  .card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none !important;
    margin-top: 8vh;
  }
  .eye {
    &:hover {
      background-color: transparent !important;
    }
  }
}
.signup {
  .loginbtn {
    background-color: #069af3;
    color: white;
    font-weight: 500;
    font-family: Inter;
    font-size: 16px;
  }
  .googlebtn {
    background-color: transparent;
    color: black;
    font-weight: 500;
    font-family: Inter;
    font-size: 16px;
    border: 1px solid #eef0f3;
  }
  .S9gUrf-YoZ4jf {
    width: 100% !important;
    display: flex;
    justify-content: center !important;
  }
  .card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none !important;
    margin-top: 2vh;
  }
  .eye {
    &:hover {
      background-color: transparent !important;
    }
  }
}
.sidebar {
  width: 280px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 1000;
  transition: width 0.3s ease;
  // overflow-x: hidden;

  /* Add any other necessary styles */
  &.closed {
    width: 70px;
    // position: fixed;
  }
  .active {
    filter: sepia(10) saturate(144.5) hue-rotate(203deg) brightness(1.5);
  }
  .container-fluid {
    --bs-gutter-x: 0rem;
    --bs-gutter-y: 0;
  }

  .feature {
    color: #fff;

    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
  }

  h2 {
    font-family: Plus Jakarta Sans;
    font-size: 23px;
    font-style: normal;
    font-weight: 800;
    line-height: 140%;
    /* 32.2px */
    text-transform: uppercase;
  }

  .dine {
    color: #3a3f51;
  }

  .bot {
    color: #069af3;
  }

  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 30px;
    border-bottom: 2px solid #e5eaef;
    margin-bottom: 10px;

    &.closed {
      padding: 12px 10px;
    }
  }

  .toggle-button {
    width: 100%;
    background-color: #069af3;
    border: none;
    color: #069af3;
    font-weight: 400;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    padding: 15px 10px;
    cursor: pointer;
  }

  .side-btn {
    display: flex;
    justify-content: center;
    // align-items: center;
    flex-direction: column;
  }

  button {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    // color: blue;
    font-weight: 400;
    // font-size: 16px;
    font-family: "Poppins", sans-serif;
    padding: 15px 30px;

    &.closed {
      padding: 15px 10px;
    }
  }

  .nav-link.active {
    border-left: 5px solid rgba(0, 140, 255, 1);

    button {
      // opacity: 0.15;
      // background: linear-gradient(270deg, rgba(6, 154, 243, 0.10) 26.99%, #069AF3 103.83%);
      background: linear-gradient(
        270deg,
        rgba(6, 154, 243, 0) 26.99%,
        rgba(6, 154, 243, 1) 450.83%
      );
    }

    .icons {
      color: #069af3 !important;
    }

    span {
      color: #069af3 !important;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      // opacity: 1;
      // z-index: 1000;
    }
  }

  .nav-link {
    margin-bottom: 5px;

    span {
      color: #a3a3a3;
      font-family: Roboto;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
    }
  }

  .colored-hr {
    border-color: white;
    margin: 10px;
  }
  .dropdown-menu.show {
    margin-left: 25px;
    margin-top: -13px;
    border: none !important;
    // width: 100%;
    // padding-left: 20px;
  }
  .dropdown-item.active,
  .dropdown-item:active {
    border-left: 5px solid rgba(0, 140, 255, 1);
    background: linear-gradient(
      270deg,
      rgba(6, 154, 243, 0) 26.99%,
      rgba(6, 154, 243, 1) 450.83%
    );
    .icons {
      color: #069af3 !important;
    }
    span {
      color: #069af3 !important;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      // opacity: 1;
      // z-index: 1000;
    }
  }
  // .nav-img {
  //   filter: grayscale(100%);
  // }

  // .nav-link.active .nav-img,
  // .nav-link:focus .nav-img {
  //   filter: grayscale(0%) brightness(100%) hue-rotate(200deg) saturate(100%) brightness(150%);
  // }
}

.main-loader {
  .loader {
    --clr: #3498db;
    /* color of spining  */
    width: 50px;
    height: 50px;
    position: relative;
  }

  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 10px solid transparent;
    border-top-color: var(--clr);
  }

  .loader:before {
    z-index: 100;
    animation: spin 1s infinite;
  }

  .loader:after {
    border: 10px solid #ccc;
  }

  @keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}

// Header
.scrolled {
  background-color: white;
  border-bottom: 2px solid #e5e5e5;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  transition: background-color 0.3s ease;
  z-index: 1000;
  .search {
    border: 2px solid #e5e5e5;
    border-radius: 25px;
    padding: 1px 25px;
  }

  .search-icon {
    display: flex;
    align-items: center;
  }

  .profile-name {
    text-align: right;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }

  .administrator {
    text-align: right;
    font-family: Inter;
    color: #a3a3a3;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }

  input {
    // width: 400%;
    background: rgb(255, 255, 255);
    height: 2.5rem;
    border: none !important;
    // border-radius: 20px;
    // box-shadow: 3px 6px 6px 3px rgba(0, 0, 0, 0.1);
    color: #b4b1b1;
    font-size: 0.85rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    letter-spacing: 0.0125rem;
  }

  form input:focus {
    outline-color: none !important;
    border-color: none !important;
  }

  .bell {
    width: 40px;
    /* Adjust the width to your desired size */
    height: 40px;
    /* Adjust the height to your desired size */
    background-color: #eff4fb;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    // padding: 20px;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  span {
    font-family: 500 !important;
    color: black;
    font-size: 14px;
  }

  .drop-btn {
    border: none;
    background-color: transparent;
  }
}

.header {
  // padding-top: 30px;
  // width: 100%;
  // box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-bottom: 2px solid #e5e5e5;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease;
  z-index: 1000;
  // padding: 10px 20px;
  .search {
    border: 2px solid #e5e5e5;
    border-radius: 25px;
    padding: 1px 25px;
  }

  .search-icon {
    display: flex;
    align-items: center;
  }

  .profile-name {
    text-align: right;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }

  .administrator {
    text-align: right;
    font-family: Inter;
    color: #a3a3a3;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }

  input {
    // width: 400%;
    background: rgb(255, 255, 255);
    height: 2.5rem;
    border: none !important;
    // border-radius: 20px;
    // box-shadow: 3px 6px 6px 3px rgba(0, 0, 0, 0.1);
    color: #b4b1b1;
    font-size: 0.85rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    letter-spacing: 0.0125rem;
  }

  form input:focus {
    outline-color: none !important;
    border-color: none !important;
  }

  .bell {
    width: 40px;
    /* Adjust the width to your desired size */
    height: 40px;
    /* Adjust the height to your desired size */
    background-color: #eff4fb;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    // padding: 20px;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  span {
    font-family: 500 !important;
    color: black;
    font-size: 14px;
  }

  .drop-btn {
    border: none;
    background-color: transparent;
  }
}

.dashboard {
  .dashboard-card {
    border-radius: 14px;
    border: 1px solid #edf2f7;
    background: #fff;
    display: flex;
    // width: 237px;
    // height: 173px;
    // gap: 10px;
  }
  .list-items {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .listIcon_bgcolor {
    background-color: #f5f5f5;
    border-radius: 100px;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .list-group-item {
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-left: 0;
    border-right: 0;
  }
  .suggest-btn {
    background-color: #069af3;
    padding: 2px, 12px, 2px, 12px;
    border-radius: 10px;
    gap: 10px;
  }
  .card-heading {
    //styleName: Body Text/Inter/Medium/Xtra-Large;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
  }
  .card-text {
    //styleName: Body Text/Inter/Medium/Large;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }

  .order {
    color: #898989;

    font-feature-settings: "salt" on, "liga" off;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .num {
    color: #3a3f51;

    /* Body Text/Inter/Semi Bold/18 */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
  }

  .percent {
    color: #4ad991;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
  }

  .previous {
    color: #606060;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .order-main {
    display: flex;
    justify-content: space-between;
  }

  .order-div {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .table > :not(caption) > * > * {
    background-color: white !important;
  }

  .table-striped > tbody > tr:nth-of-type(odd) > * {
    --bs-table-bg-type: none !important;
  }

  .food-title {
    display: flex;
    flex-direction: column;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: #3a3f51;
  }

  .serving {
    display: flex;
    font-family: Inter;
    color: #9ca4ab;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }

  .mainfood-table {
    th {
      font-family: Inter;
      color: #9ca4ab;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
    }
  }

  .see {
    border: none !important;
    color: #38b5f3;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.32px;
    text-decoration-line: underline;
    cursor: pointer;
  }

  .apexcharts-toolbar {
    display: none !important;
  }

  .toolbar {
    background-color: #f2f4f6 !important;
    border-radius: 25px;
    padding: 2px 10px;

    button {
      background-color: transparent;
      border: none !important;
      padding: 5px 10px;
      margin: 5px 1px;

      &:hover {
        background-color: #069af3;
        border-radius: 15px;
      }
    }
  }
}
.food-table {
  .d-none {
    display: none;
  }

  .table > :not(caption) > * > * {
    background-color: white !important;
  }

  .table-striped > tbody > tr:nth-of-type(odd) > * {
    --bs-table-bg-type: none !important;
  }

  .food-title {
    display: flex;
    flex-direction: column;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: #3a3f51;
  }

  .serving {
    display: flex;
    font-family: Inter;
    color: #9ca4ab;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }

  .mainfood-table {
    th {
      font-family: Inter;
      color: #9ca4ab;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
    }
  }
}
.favouritemenu {
  .favourite {
    color: #3a3f51;
    /* Body Text/Inter/Medium/Xtra-Large */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
  }

  th {
    color: #121212;

    /* Body Text/Inter/Medium/Large */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
  }

  .table > :not(caption) > * > * {
    background-color: white !important;
  }

  .table-striped > tbody > tr:nth-of-type(odd) > * {
    --bs-table-bg-type: none !important;
  }

  .food-title {
    display: flex;
    flex-direction: column;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: #3a3f51;
  }

  .serving {
    display: flex;
    font-family: Inter;
    color: #9ca4ab;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }

  .see {
    border: none !important;
    color: #38b5f3;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.32px;
    text-decoration-line: underline;
    cursor: pointer;
  }
}
.pos {
  .nav-tabs {
    margin-left: 0rem !important;
    margin-right: 0rem !important;
    --bs-nav-tabs-link-hover-border-color: transparent !important;
    --bs-nav-link-color: #a3a3a3 !important;
    --bs-nav-link-hover-color: #a3a3a3 !important;
    /* Body Text/Inter/Regular/Medium */
    font-family: Inter !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    border-bottom: 2px solid #e5e5e5 !important;

    .active {
      color: #3a3f51;
      border: white;
      /* Body Text/Inter/Semi Bold/Medium */
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      border-bottom: 4px solid #069af3 !important;
    }
  }
}
.dinemenu {
  .nav-tabs {
    margin-left: 0rem !important;
    margin-right: 0rem !important;
    --bs-nav-tabs-link-hover-border-color: transparent !important;
    --bs-nav-link-color: #a3a3a3 !important;
    --bs-nav-link-hover-color: #a3a3a3 !important;
    /* Body Text/Inter/Regular/Medium */
    font-family: Inter !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    border-bottom: 2px solid #e5e5e5 !important;

    .active {
      color: #3a3f51;
      border: white;
      /* Body Text/Inter/Semi Bold/Medium */
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      border-bottom: 4px solid #069af3 !important;
    }
  }
  .add_menu-btn {
    color: #069af3;
    border: 1px solid #069af3;
    margin-right: 10px;
    padding: 10px, 24px, 10px, 24px;
    border-radius: 25px !important;
    font-weight: 500;
    gap: 10px;
  }
}

.foodmenucard {
  .card-img {
    width: 104px;
    height: 104px;
    border-radius: 50%;
    position: absolute;
    top: -53px;
    left: 25px;
    //   position: absolute;
    //   margin-top: 20px;
    // width: 100px;
    // height: 100px;
    // z-index: 100;
    // margin-left:10px;
  }
  .food {
    position: relative;
    margin-top: 58px;
    border-radius: 30px;
  }
  .card-title {
    //styleName: Body Text/Inter/Semi Bold/Large;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .card-content {
    margin: 0;
    font-weight: 400 !important;
  }
  .card-text {
    font-weight: 600;
  }
  .card-body {
    margin-top: 30px;
  }
}

.social-media {
  .nav-tabs {
    margin-left: 0rem !important;
    margin-right: 0rem !important;
    --bs-nav-tabs-link-hover-border-color: transparent !important;
    --bs-nav-link-color: #a3a3a3 !important;
    --bs-nav-link-hover-color: #a3a3a3 !important;
    /* Body Text/Inter/Regular/Medium */
    font-family: Inter !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    border-bottom: 2px solid #e5e5e5 !important;

    .active {
      color: #3a3f51;
      border: white;
      /* Body Text/Inter/Semi Bold/Medium */
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      border-bottom: 4px solid #069af3 !important;
    }
  }
  .nav-tabs {
    margin-left: 0rem !important;
    margin-right: 0rem !important;
    --bs-nav-tabs-link-hover-border-color: transparent !important;
    --bs-nav-link-color: #a3a3a3 !important;
    --bs-nav-link-hover-color: #a3a3a3 !important;
    /* Body Text/Inter/Regular/Medium */
    font-family: Inter !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    border-bottom: 2px solid #e5e5e5 !important;

    .active {
      color: #3a3f51;
      border: white;
      /* Body Text/Inter/Semi Bold/Medium */
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      border-bottom: 4px solid #069af3 !important;
    }
  }
  .add_post-btn {
    color: #069af3;
    border: 1px solid #069af3;
    margin-right: 10px;
    padding: 10px, 24px, 10px, 24px;
    border-radius: 25px !important;
    font-weight: 500;
    gap: 10px;
  }
  .list-items {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .listIcon_bgcolor {
    background-color: #f5f5f5;
    border-radius: 100px;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .list-group-item {
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-left: 0;
    border-right: 0;
  }
  .suggest-btn {
    background-color: #069af3;
    padding: 2px, 12px, 2px, 12px;
    border-radius: 10px;
    gap: 10px;
  }
  .card-heading {
    //styleName: Body Text/Inter/Medium/Xtra-Large;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
  }
  .card-text {
    //styleName: Body Text/Inter/Medium/Large;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }
}

.social-media-cards {
  .dashboard-card {
    border-radius: 14px;
    border: 1px solid #edf2f7;
    background: #fff;
    display: flex;
    // width: 237px;
    // height: 173px;
    // gap: 10px;
  }
  .order {
    color: #898989;
    font-feature-settings: "salt" on, "liga" off;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .num {
    color: #3a3f51;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
  }
  .order-main {
    display: flex;
    justify-content: space-between;
  }

  .order-div {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .icon {
    width: fit-content;
  }
  .post_card {
    margin: 0;
    gap: 16px;
  }
  .card-title {
    //styleName: Body Text/Inter/Semi Bold/Large;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }
  .card-rating {
    //styleName: Body Text/Inter/Medium/Medium;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
  }
  .card-comment {
    //styleName: Body Text/Inter/Regular/Large;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }
}

.feedback {
  .nav-tabs {
    margin-left: 0rem !important;
    margin-right: 0rem !important;
    --bs-nav-tabs-link-hover-border-color: transparent !important;
    --bs-nav-link-color: #a3a3a3 !important;
    --bs-nav-link-hover-color: #a3a3a3 !important;
    /* Body Text/Inter/Regular/Medium */
    font-family: Inter !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    border-bottom: 2px solid #e5e5e5 !important;

    .active {
      color: #3a3f51;
      border: white;
      /* Body Text/Inter/Semi Bold/Medium */
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      border-bottom: 4px solid #069af3 !important;
    }
  }
  .list-items {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .listIcon_bgcolor {
    background-color: #f5f5f5;
    border-radius: 100px;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .list-group-item {
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .reviews {
    .post_card {
      position: relative;
      margin-top: 58px;
      border-radius: 30px;
    }
    .card-img {
      width: 104px;
      height: 104px;
      border-radius: 50%;
      position: absolute;
      top: -53px;
      left: 25px;
    }
  }
  .goodreviews {
    .post_card {
      position: relative;
      margin-top: 58px;
      border-radius: 30px;
    }
    .card-img {
      width: 104px;
      height: 104px;
      border-radius: 50%;
      position: absolute;
      top: -53px;
      left: 25px;
    }
  }
  .badreviews {
    .post_card {
      position: relative;
      margin-top: 58px;
      border-radius: 30px;
    }
    .card-img {
      width: 104px;
      height: 104px;
      border-radius: 50%;
      position: absolute;
      top: -53px;
      left: 25px;
    }
  }
  .suggestions {
    .react-multiple-carousel__arrow {
      position: absolute;
      outline: 0;
      transition: all 0.5s;
      border-radius: 35px;
      z-index: 1000;
      border: 0;
      background: #fff !important;
      border: 1px solid black !important;
      min-width: 35px;
      min-height: 35px;
      opacity: 1;
      cursor: pointer;
    }
    .react-multiple-carousel__arrow::before {
      font-size: 17px;
      color: black !important;
      display: block;
      font-family: revicons;
      text-align: center;
      z-index: 2;
      position: relative;
    }
    .card-img {
      width: 104px;
      height: 104px;
      border-radius: 50%;
      position: absolute;
      top: -53px;
      left: 25px;
    }
    .food {
      position: relative;
      margin-top: 58px;
      border-radius: 30px;
    }
    .card-title {
      //styleName: Body Text/Inter/Semi Bold/Large;
      font-family: Inter;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      padding-bottom: 0;
      margin-bottom: 0;
    }
    .card-content {
      margin: 0;
      font-weight: 400 !important;
    }
    .card-text {
      font-weight: 600;
    }
    .card-body {
      margin-top: 30px;
    }
    .slider {
      margin: 0px 5px;
      margin: 0 5px;
      overflow: "hidden";

      .slider img {
        width: 100%;
        border-radius: 10px;
      }

      .react-multi-carousel-list {
        padding: 0rem 0 2rem 0;
      }

      .custom-dot-list-style button {
        border: none;
        background: rgb(255, 68, 68);
      }
      .react-multi-carousel-dot.react-multi-carousel-dot--active button {
        background: rgb(255, 68, 68) !important;
      }
    }
  }
}

.profile {
  .image-uploader {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
  }
  .image-preview {
    position: relative;
    width: 250px;
    height: 360px;
    background-color: #ccc;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
  }

  .image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .upload-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    cursor: pointer;
  }

  .upload-label {
    cursor: pointer;
  }
}

.users {
  .modal-btn {
    color: #069af3;
    border: 1px solid #069af3;
    margin-right: 10px;
    padding: 10px, 24px, 10px, 24px;
    border-radius: 25px !important;
    font-weight: 500;
    gap: 10px;
  }
  .main-management {
    padding-right: 15px;
    padding-left: 10px;
  }
  .user-management {
    border-bottom: 2px solid #a3a3a3;
    padding-left: 0px;
    h6 {
      color: #a3a3a3;
    }
  }
  .modal-content {
    width: 800px;
  }
  .modal-dialog {
    // margin-top: 100px;
    margin-bottom: 30px;
    max-width: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal-header {
    border-bottom: none !important;
  }
  .modal-footer {
    border-top: none !important;
  }
  .form-floating > .form-control,
  .form-floating > .form-control-plaintext,
  .form-floating > .form-select {
    height: calc(2.5rem + calc(var(--bs-border-width) * 2)) !important;
    min-height: calc(0.5rem + calc(var(--bs-border-width) * 2)) !important;
    line-height: 1.25;
  }
  .form-floating > label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    // padding: 1rem 0.75rem;
    padding: 10px 10px;
    overflow: hidden;
    text-align: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
    border: var(--bs-border-width) solid transparent;
    transform-origin: 0 0;
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
    background-color: transparent !important;
  }
  label {
    font-size: 12px;
  }
  .form-select {
    font-size: 12px;
    // padding: 0px 10px;
    padding-top: 11px !important;
    padding-bottom: 11px !important;
  }
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.37);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    .modal-content {
      background-color: white;
      border-radius: 15px;
      // width: 50%;
      // height: 40vh;
      padding: 15px 20px;
      // z-index: 500;
      .modal-nav {
        padding: 20px;
      }
      .cross-btn {
        border: none;
        background-color: white;
      }

      .modal-body {
        border-radius: 10px;
        max-height: calc(100% - 70px);
        padding-bottom: 20px;
        .card {
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          border: none;
        }
      }
    }
  }
  .d-inline-flex {
    display: inline-flex;
    /* Add any other styles as needed */
  }
}

.subscription-package {
  .modal-btn {
    color: #069af3;
    border: 1px solid #069af3;
    margin-right: 10px;
    padding: 10px, 24px, 10px, 24px;
    border-radius: 25px !important;
    font-weight: 500;
    gap: 10px;
  }
  .main-management {
    padding-right: 15px;
    padding-left: 10px;
  }
  .user-management {
    border-bottom: 2px solid #a3a3a3;
    padding-left: 0px;
    h6 {
      color: #a3a3a3;
    }
  }
  .modal-content {
    width: 800px;
  }
  .modal-dialog {
    // margin-top: 100px;
    margin-bottom: 30px;
    max-width: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal-header {
    border-bottom: none !important;
  }
  .modal-footer {
    border-top: none !important;
  }
  .form-floating > .form-control,
  .form-floating > .form-control-plaintext,
  .form-floating > .form-select {
    height: calc(2.5rem + calc(var(--bs-border-width) * 2)) !important;
    min-height: calc(0.5rem + calc(var(--bs-border-width) * 2)) !important;
    line-height: 1.25;
  }
  .form-floating > label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    // padding: 1rem 0.75rem;
    padding: 10px 10px;
    overflow: hidden;
    text-align: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
    border: var(--bs-border-width) solid transparent;
    transform-origin: 0 0;
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
    background-color: transparent !important;
  }
  label {
    font-size: 12px;
  }
  .form-select {
    font-size: 12px;
    // padding: 0px 10px;
    padding-top: 11px !important;
    padding-bottom: 11px !important;
  }
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.37);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    .modal-content {
      background-color: white;
      border-radius: 15px;
      // width: 50%;
      // height: 40vh;
      padding: 15px 20px;
      // z-index: 500;
      .modal-nav {
        padding: 20px;
      }
      .cross-btn {
        border: none;
        background-color: white;
      }

      .modal-body {
        border-radius: 10px;
        max-height: calc(100% - 70px);
        padding-bottom: 20px;
        .card {
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          border: none;
        }
      }
    }
  }
  .d-inline-flex {
    display: inline-flex;
    /* Add any other styles as needed */
  }
}
.subscription-service {
  .modal-btn {
    color: #069af3;
    border: 1px solid #069af3;
    margin-right: 10px;
    padding: 10px, 24px, 10px, 24px;
    border-radius: 25px !important;
    font-weight: 500;
    gap: 10px;
  }
  .main-management {
    padding-right: 15px;
    padding-left: 10px;
  }
  .user-management {
    border-bottom: 2px solid #a3a3a3;
    padding-left: 0px;
    h6 {
      color: #a3a3a3;
    }
  }
  .modal-content {
    width: 800px;
  }
  .modal-dialog {
    // margin-top: 100px;
    margin-bottom: 30px;
    max-width: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal-header {
    border-bottom: none !important;
  }
  .modal-footer {
    border-top: none !important;
  }
  .form-floating > .form-control,
  .form-floating > .form-control-plaintext,
  .form-floating > .form-select {
    height: calc(2.5rem + calc(var(--bs-border-width) * 2)) !important;
    min-height: calc(0.5rem + calc(var(--bs-border-width) * 2)) !important;
    line-height: 1.25;
  }
  .form-floating > label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    // padding: 1rem 0.75rem;
    padding: 10px 10px;
    overflow: hidden;
    text-align: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
    border: var(--bs-border-width) solid transparent;
    transform-origin: 0 0;
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
    background-color: transparent !important;
  }
  label {
    font-size: 12px;
  }
  .form-select {
    font-size: 12px;
    // padding: 0px 10px;
    padding-top: 11px !important;
    padding-bottom: 11px !important;
  }
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.37);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    .modal-content {
      background-color: white;
      border-radius: 15px;
      // width: 50%;
      // height: 40vh;
      padding: 15px 20px;
      // z-index: 500;
      .modal-nav {
        padding: 20px;
      }
      .cross-btn {
        border: none;
        background-color: white;
      }

      .modal-body {
        border-radius: 10px;
        max-height: calc(100% - 70px);
        padding-bottom: 20px;
        .card {
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          border: none;
        }
      }
    }
  }
  .d-inline-flex {
    display: inline-flex;
    /* Add any other styles as needed */
  }
}

@media (max-width: 600px) {
  .social-media-cards {
    flex-direction: column;
    .card {
      margin-bottom: 10px;
    }
  }
  .menu-modal-component {
    .modal-content {
      margin: auto !important;
      width: auto !important;
    }
  }
  .users {
    .modal-content {
      width: auto !important;
    }
  }
}

.modal-component {
  border-radius: 20px;
  gap: 10px;

  .modal-heading {
    //styleName: Heading Text/Inter/Semi Bold/H4;
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
  }
  .modal-content {
    width: 593px;
    margin-left: -45px;
  }
  label {
    color: #171938 !important;
    font-size: 12px !important;
    font-style: normal !important;
  }
  .post-btn {
    // width: 79px;
    // height: 48px;
    padding: 10px, 24px, 10px, 24px;
    border-radius: 20px;
    gap: 10px;
    background-color: #2882ee;
  }
  .cancel-btn {
    // width: 79px;
    // height: 48px;
    padding: 10px, 24px, 10px, 24px;
    border-radius: 20px;
    border: 1px;
    gap: 10px;
    border: 1px solid #069af3;
    color: #069af3;
    background-color: #fff;
  }
  .pic {
    color: #4c535f;
    font-size: 16px;
    font-style: normal;
  }
  .img-upload {
    border: 1px dashed #0d062d1f;
    box-shadow: 6px 6px 54px 0px #0000000d;
  }

  .upload-cta {
    // /* display: inline-table; */
    // height: 265px;
    // width: 100%;
    // cursor: pointer;
    // /* padding-top: 70px; */
    // line-height: 17px;
    // margin-left: 15px;
    // margin-top: 10px;
    // background: white;
    // font-size: 0.9em;
    // border-radius: 10px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // height: 324px;
    height: 100% !important;
    width: 100%;
    cursor: pointer;
    background: white;
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    align-items: center;

    // line-height: ;
    &.upload-preview {
      background-size: cover !important;
      background-repeat: no-repeat !important;
      text-indent: -9000px;
      // border-style: solid;
    }
  }
  .title-label {
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: right;
    padding: 6px, 12px, 6px, 12px;
    border-radius: 10px;
    border: 1px;
    gap: 6px;
    box-shadow: 6px 6px 54px 0px #0000000d;
    // border: 1px solid #0d062d1f;
  }
  .date-label {
    padding: 6px, 12px, 6px, 12px;
    border-radius: 10px;
    border: 1px;
    gap: 6px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: right;
    box-shadow: 6px 6px 54px 0px #0000000d;
    border: 1px solid #0d062d1f;
    input {
      font-size: 11px;
    }
  }
  .checkbox-label {
    .form-check-input {
      width: 18px;
      height: 18px;
    }
  }
  .description-label {
    padding: 6px, 12px, 6px, 12px;
    border-radius: 10px;
    border: 1px;
    gap: 6px;
    border: 1px solid #0d062d1f;
  }
  .form-check-label {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }
  .form-floating > label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    // padding: 1rem 0.75rem;
    padding: 10px 10px;
    overflow: hidden;
    text-align: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
    border: var(--bs-border-width) solid transparent;
    transform-origin: 0 0;
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
  }
  .form-floating > .form-control,
  .form-floating > .form-control-plaintext,
  .form-floating > .form-select {
    height: calc(2.5rem + calc(var(--bs-border-width) * 2)) !important;
    min-height: calc(0.5rem + calc(var(--bs-border-width) * 2)) !important;
    line-height: 1.25;
  }
  .form-floating > .form-control.description-text {
    height: 200px !important;
  }
  .tag-input-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }

  .tag-container {
    display: flex;
    flex-wrap: wrap;
    // gap: 5px;
    /* Additional styling for the container */
    margin-bottom: 10px;
  }

  .tag-field-container {
    flex-grow: 1;
    /* Adjust this padding as needed to create space between the tag and input field */
    // padding-left: 10px;
  }

  .tag-field {
    width: 100%;
    /* Additional styling for the input field */
    border: 1px solid #ccc;
    // padding: 8px;
  }

  /* Other styles for tags and their removal */

  /* Ensure proper cursor style */
  .tag-container .badge {
    cursor: pointer;
  }
}

.menu-modal-component {
  border-radius: 20px;
  gap: 10px;

  .modal-heading {
    //styleName: Heading Text/Inter/Semi Bold/H4;
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
  }
  .modal-content {
    width: 593px;
    margin-left: -45px;
  }
  label {
    color: #171938 !important;
    // font-size: 16px !important;
    font-size: 12px !important;
    font-style: normal !important;
  }
  .pic {
    color: #4c535f;
    font-size: 16px;
    font-style: normal;
  }
  .img-upload {
    border: 1px dashed #0d062d1f;
    box-shadow: 6px 6px 54px 0px #0000000d;
    // height: 314px;
    height: 274px;
    padding: 0 !important;
  }
  .upload-cta {
    /* display: inline-table; */
    // height: 256px;
    height: 100%;
    width: 100%;
    cursor: pointer;
    line-height: 17px;
    // margin-top: 10px;
    background: white;
    font-size: 0.9em;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    // line-height: ;
    &.upload-preview {
      background-size: cover !important;
      text-indent: -9000px;
      // border-style: solid;
    }
  }
  .post-btn {
    // width: 79px;
    // height: 48px;
    padding: 10px, 24px, 10px, 24px;
    border-radius: 20px;
    gap: 10px;
    background-color: #2882ee;
  }
  .cancel-btn {
    // width: 95px;
    // height: 48px;
    padding: 10px, 24px, 10px, 24px;
    border-radius: 20px;
    border: 1px;
    gap: 10px;
    border: 1px solid #069af3;
    color: #069af3;
    background-color: #fff;
  }
  .add-field-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 29px;
    cursor: pointer;
  }
  .bin-icon {
    color: red;
  }
  .form-floating > label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    // padding: 1rem 0.75rem;
    padding: 10px 10px;
    overflow: hidden;
    text-align: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
    border: var(--bs-border-width) solid transparent;
    transform-origin: 0 0;
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
  }
  .form-floating > .form-control,
  .form-floating > .form-control-plaintext,
  .form-floating > .form-select {
    height: calc(2.5rem + calc(var(--bs-border-width) * 2)) !important;
    min-height: calc(0.5rem + calc(var(--bs-border-width) * 2)) !important;
    line-height: 1.25;
  }
  .form-floating > .form-control.description-text {
    height: 200px !important;
  }
}

.analysis {
  .nav-tabs {
    margin-left: 0rem !important;
    margin-right: 0rem !important;
    --bs-nav-tabs-link-hover-border-color: transparent !important;
    --bs-nav-link-color: #a3a3a3 !important;
    --bs-nav-link-hover-color: #a3a3a3 !important;
    /* Body Text/Inter/Regular/Medium */
    font-family: Inter !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    border-bottom: 2px solid #e5e5e5 !important;

    .active {
      color: #3a3f51;
      border: white;
      /* Body Text/Inter/Semi Bold/Medium */
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      border-bottom: 4px solid #069af3 !important;
    }
  }
  .apexcharts-toolbar {
    display: none !important;
  }
  .toolbar {
    background-color: #f2f4f6 !important;
    border-radius: 25px;
    padding: 2px 10px;

    button {
      background-color: transparent;
      border: none !important;
      padding: 5px 10px;
      margin: 5px 1px;

      &:hover {
        background-color: #069af3;
        border-radius: 15px;
      }
    }
  }
}

.restaurant-list {
  .nav-tabs {
    margin-left: 0rem !important;
    margin-right: 0rem !important;
    --bs-nav-tabs-link-hover-border-color: transparent !important;
    --bs-nav-link-color: #a3a3a3 !important;
    --bs-nav-link-hover-color: #a3a3a3 !important;
    /* Body Text/Inter/Regular/Medium */
    font-family: Inter !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    border-bottom: 2px solid #e5e5e5 !important;

    .active {
      color: #3a3f51;
      border: white;
      /* Body Text/Inter/Semi Bold/Medium */
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      border-bottom: 4px solid #069af3 !important;
    }
  }
}
.super-admin {
  .dashboard-card {
    border-radius: 14px;
    border: 1px solid #edf2f7;
    background: #fff;
    display: flex;
    // width: 237px;
    // height: 173px;
    // gap: 10px;
  }
  .order {
    color: #898989;
    font-feature-settings: "salt" on, "liga" off;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .num {
    color: #3a3f51;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
  }
  .order-main {
    display: flex;
    justify-content: space-between;
  }

  .order-div {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .icon {
    width: fit-content;
  }
  .post_card {
    margin: 0;
    gap: 16px;
  }
  .card-title {
    //styleName: Body Text/Inter/Semi Bold/Large;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }
  .card-rating {
    //styleName: Body Text/Inter/Medium/Medium;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
  }
  .card-comment {
    //styleName: Body Text/Inter/Regular/Large;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }
}
